@model VirtualStockTrading.SellingTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SellingTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockData.StockType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockData.StockType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserInformation.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserInformation.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AskPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AskPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
